<a href="https://colab.research.google.com/github/M339KUMAR/ColabDemoFiles/blob/main/UMMLP2/UM_MLIntern_P2(14Feb2016-1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Fraud Detection in Financial Transaction

###Import Lib's

In [64]:
import os
#import zipfile
import zipfile
#import ZipFile

In [65]:
print(os.getcwd())

/content

In [66]:
input_path='/content/sample_data/dataset.zip'
output_path='/content/FD_P2'

In [67]:
with zipfile.ZipFile(input_path, 'r') as zf:
     zf.extractall(output_path)
     print('File Extraction Successful')

File Extraction Successful

In [68]:

import os

def count_files_os(folder_path):
    """Counts the number of files in a given folder using os.listdir."""

    count = 0

    # List all entries in the directory
    for file in os.listdir(folder_path):

        # Construct the full path
        full_path = os.path.join(folder_path, file)

        # Check if the entry is a file (and not a sub-directory or symlink)
        if os.path.isfile(full_path):
            count += 1

    return count

# Example Usage:
# Replace 'your/folder/path' with the actual path to your folder
folder_to_check = '/content/FD_P2/data'

file_count = count_files_os(folder_to_check)
#print(f"Total files count ::'{folder_to_check}': {file_count}")
print(f"Total files count ::: {file_count}")

Total files count ::: 183

In [69]:

import glob
import os

# Define the directory path
directory_path = '.'  # Current directory

# Pattern to match all files and directories
# '*' matches everything directly in the specified path
pattern = os.path.join(directory_path, '*')

# Use glob.glob() to get the list of files
file_list = glob.glob(pattern)

print("Files in directory:")
for file in file_list:
    print(file)

Files in directory:
./sample_data
./FD_P2

In [70]:

directory_path1='/content/FD_P2/data'
pattern1=os.path.join(directory_path1, '*')
ListofFiles=glob.glob(pattern1)

print("Files in directory:")
for file in ListofFiles:
    print(file)

Files in directory:
/content/FD_P2/data/2018-07-22.pkl
/content/FD_P2/data/2018-06-15.pkl
/content/FD_P2/data/2018-07-14.pkl
/content/FD_P2/data/2018-08-11.pkl
/content/FD_P2/data/2018-04-14.pkl
/content/FD_P2/data/2018-09-07.pkl
/content/FD_P2/data/2018-09-10.pkl
/content/FD_P2/data/2018-04-18.pkl
/content/FD_P2/data/2018-07-11.pkl
/content/FD_P2/data/2018-06-12.pkl
/content/FD_P2/data/2018-04-03.pkl
/content/FD_P2/data/2018-07-02.pkl
/content/FD_P2/data/2018-08-22.pkl
/content/FD_P2/data/2018-06-24.pkl
/content/FD_P2/data/2018-08-14.pkl
/content/FD_P2/data/2018-08-04.pkl
/content/FD_P2/data/2018-08-30.pkl
/content/FD_P2/data/2018-04-17.pkl
/content/FD_P2/data/2018-08-10.pkl
/content/FD_P2/data/2018-08-26.pkl
/content/FD_P2/data/2018-07-24.pkl
/content/FD_P2/data/2018-06-13.pkl
/content/FD_P2/data/2018-04-02.pkl
/content/FD_P2/data/2018-05-09.pkl
/content/FD_P2/data/2018-07-01.pkl
/content/FD_P2/data/2018-09-18.pkl
/content/FD_P2/data/2018-07-08.pkl
/content/FD_P2/data/2018-06-04.pkl
/content/FD_P2/data/2018-07-12.pkl
/content/FD_P2/data/2018-04-13.pkl
/content/FD_P2/data/2018-06-05.pkl
/content/FD_P2/data/2018-07-09.pkl
/content/FD_P2/data/2018-05-19.pkl
/content/FD_P2/data/2018-07-15.pkl
/content/FD_P2/data/2018-08-16.pkl
/content/FD_P2/data/2018-09-29.pkl
/content/FD_P2/data/2018-07-20.pkl
/content/FD_P2/data/2018-07-16.pkl
/content/FD_P2/data/2018-05-26.pkl
/content/FD_P2/data/2018-08-17.pkl
/content/FD_P2/data/2018-05-01.pkl
/content/FD_P2/data/2018-09-20.pkl
/content/FD_P2/data/2018-07-10.pkl
/content/FD_P2/data/2018-04-15.pkl
/content/FD_P2/data/2018-06-23.pkl
/content/FD_P2/data/2018-04-28.pkl
/content/FD_P2/data/2018-05-13.pkl
/content/FD_P2/data/2018-05-06.pkl
/content/FD_P2/data/2018-08-20.pkl
/content/FD_P2/data/2018-06-16.pkl
/content/FD_P2/data/2018-05-31.pkl
/content/FD_P2/data/2018-04-21.pkl
/content/FD_P2/data/2018-06-08.pkl
/content/FD_P2/data/2018-05-11.pkl
/content/FD_P2/data/2018-05-30.pkl
/content/FD_P2/data/2018-05-16.pkl
/content/FD_P2/data/2018-09-02.pkl
/content/FD_P2/data/2018-09-19.pkl
/content/FD_P2/data/2018-04-01.pkl
/content/FD_P2/data/2018-06-25.pkl
/content/FD_P2/data/2018-07-29.pkl
/content/FD_P2/data/2018-04-05.pkl
/content/FD_P2/data/2018-05-25.pkl
/content/FD_P2/data/2018-04-23.pkl
/content/FD_P2/data/2018-09-04.pkl
/content/FD_P2/data/2018-05-05.pkl
/content/FD_P2/data/2018-06-09.pkl
/content/FD_P2/data/2018-09-03.pkl
/content/FD_P2/data/2018-04-10.pkl
/content/FD_P2/data/2018-08-24.pkl
/content/FD_P2/data/2018-06-07.pkl
/content/FD_P2/data/2018-07-03.pkl
/content/FD_P2/data/2018-05-15.pkl
/content/FD_P2/data/2018-04-08.pkl
/content/FD_P2/data/2018-04-22.pkl
/content/FD_P2/data/2018-04-09.pkl
/content/FD_P2/data/2018-04-04.pkl
/content/FD_P2/data/2018-09-25.pkl
/content/FD_P2/data/2018-06-27.pkl
/content/FD_P2/data/2018-09-27.pkl
/content/FD_P2/data/2018-04-11.pkl
/content/FD_P2/data/2018-09-28.pkl
/content/FD_P2/data/2018-04-20.pkl
/content/FD_P2/data/2018-08-02.pkl
/content/FD_P2/data/2018-07-13.pkl
/content/FD_P2/data/2018-07-05.pkl
/content/FD_P2/data/2018-06-17.pkl
/content/FD_P2/data/2018-05-04.pkl
/content/FD_P2/data/2018-09-11.pkl
/content/FD_P2/data/2018-06-06.pkl
/content/FD_P2/data/2018-05-12.pkl
/content/FD_P2/data/2018-08-18.pkl
/content/FD_P2/data/2018-06-26.pkl
/content/FD_P2/data/2018-08-05.pkl
/content/FD_P2/data/2018-09-16.pkl
/content/FD_P2/data/2018-04-06.pkl
/content/FD_P2/data/2018-07-21.pkl
/content/FD_P2/data/2018-09-22.pkl
/content/FD_P2/data/2018-05-03.pkl
/content/FD_P2/data/2018-07-17.pkl
/content/FD_P2/data/2018-04-27.pkl
/content/FD_P2/data/2018-06-14.pkl
/content/FD_P2/data/2018-07-25.pkl
/content/FD_P2/data/2018-08-23.pkl
/content/FD_P2/data/2018-05-10.pkl
/content/FD_P2/data/2018-07-04.pkl
/content/FD_P2/data/2018-09-05.pkl
/content/FD_P2/data/2018-08-09.pkl
/content/FD_P2/data/2018-06-18.pkl
/content/FD_P2/data/2018-06-11.pkl
/content/FD_P2/data/2018-08-21.pkl
/content/FD_P2/data/2018-09-30.pkl
/content/FD_P2/data/2018-09-15.pkl
/content/FD_P2/data/2018-09-06.pkl
/content/FD_P2/data/2018-07-07.pkl
/content/FD_P2/data/2018-05-14.pkl
/content/FD_P2/data/2018-09-14.pkl
/content/FD_P2/data/2018-08-03.pkl
/content/FD_P2/data/2018-08-13.pkl
/content/FD_P2/data/2018-09-24.pkl
/content/FD_P2/data/2018-09-21.pkl
/content/FD_P2/data/2018-09-17.pkl
/content/FD_P2/data/2018-08-27.pkl
/content/FD_P2/data/2018-06-19.pkl
/content/FD_P2/data/2018-04-07.pkl
/content/FD_P2/data/2018-07-31.pkl
/content/FD_P2/data/2018-05-17.pkl
/content/FD_P2/data/2018-05-02.pkl
/content/FD_P2/data/2018-08-19.pkl
/content/FD_P2/data/2018-09-12.pkl
/content/FD_P2/data/2018-07-30.pkl
/content/FD_P2/data/2018-05-20.pkl
/content/FD_P2/data/2018-07-06.pkl
/content/FD_P2/data/2018-06-02.pkl
/content/FD_P2/data/2018-05-22.pkl
/content/FD_P2/data/2018-08-25.pkl
/content/FD_P2/data/2018-05-21.pkl
/content/FD_P2/data/2018-07-26.pkl
/content/FD_P2/data/2018-04-30.pkl
/content/FD_P2/data/2018-07-19.pkl
/content/FD_P2/data/2018-04-19.pkl
/content/FD_P2/data/2018-08-29.pkl
/content/FD_P2/data/2018-08-31.pkl
/content/FD_P2/data/2018-05-27.pkl
/content/FD_P2/data/2018-08-07.pkl
/content/FD_P2/data/2018-08-06.pkl
/content/FD_P2/data/2018-08-28.pkl
/content/FD_P2/data/2018-06-30.pkl
/content/FD_P2/data/2018-04-24.pkl
/content/FD_P2/data/2018-08-15.pkl
/content/FD_P2/data/2018-07-23.pkl
/content/FD_P2/data/2018-05-24.pkl
/content/FD_P2/data/2018-08-08.pkl
/content/FD_P2/data/2018-07-28.pkl
/content/FD_P2/data/2018-04-12.pkl
/content/FD_P2/data/2018-06-20.pkl
/content/FD_P2/data/2018-06-29.pkl
/content/FD_P2/data/2018-06-10.pkl
/content/FD_P2/data/2018-09-01.pkl
/content/FD_P2/data/2018-06-03.pkl
/content/FD_P2/data/2018-09-23.pkl
/content/FD_P2/data/2018-05-28.pkl
/content/FD_P2/data/2018-04-26.pkl
/content/FD_P2/data/2018-05-18.pkl
/content/FD_P2/data/2018-06-28.pkl
/content/FD_P2/data/2018-08-01.pkl
/content/FD_P2/data/2018-09-08.pkl
/content/FD_P2/data/2018-07-18.pkl
/content/FD_P2/data/2018-06-21.pkl
/content/FD_P2/data/2018-06-01.pkl
/content/FD_P2/data/2018-09-13.pkl
/content/FD_P2/data/2018-05-29.pkl
/content/FD_P2/data/2018-05-07.pkl
/content/FD_P2/data/2018-04-25.pkl
/content/FD_P2/data/2018-09-09.pkl
/content/FD_P2/data/2018-04-16.pkl
/content/FD_P2/data/2018-06-22.pkl
/content/FD_P2/data/2018-09-26.pkl
/content/FD_P2/data/2018-04-29.pkl
/content/FD_P2/data/2018-05-23.pkl
/content/FD_P2/data/2018-05-08.pkl
/content/FD_P2/data/2018-07-27.pkl
/content/FD_P2/data/2018-08-12.pkl

###Reading a Pickle a file

In [71]:
import pandas as pd
df1=pd.read_pickle('/content/FD_P2/data/2018-09-24.pkl')
df1

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
1687440,1687440,2018-09-24 00:00:27,2524,9558,13.39,15206427,176,0,0
1687441,1687441,2018-09-24 00:01:18,1011,7930,27.35,15206478,176,0,0
1687442,1687442,2018-09-24 00:01:39,872,9471,93.36,15206499,176,0,0
1687443,1687443,2018-09-24 00:02:26,3578,8682,158.79,15206546,176,0,0
1687444,1687444,2018-09-24 00:04:01,942,3757,118.22,15206641,176,0,0
...,...,...,...,...,...,...,...,...,...
1696859,1696859,2018-09-24 23:55:49,2760,6578,33.98,15292549,176,0,0
1696860,1696860,2018-09-24 23:57:14,2611,2338,25.70,15292634,176,1,2
1696861,1696861,2018-09-24 23:57:38,2932,474,102.40,15292658,176,0,0
1696862,1696862,2018-09-24 23:58:00,3610,4147,10.02,15292680,176,0,0
1696863,1696863,2018-09-24 23:59:20,985,7381,2.12,15292760,176,0,0

In [72]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9424 entries, 1687440 to 1696863
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TRANSACTION_ID     9424 non-null   int64
 1   TX_DATETIME        9424 non-null   datetime64[ns]
 2   CUSTOMER_ID        9424 non-null   object
 3   TERMINAL_ID        9424 non-null   object
 4   TX_AMOUNT          9424 non-null   float64
 5   TX_TIME_SECONDS    9424 non-null   object
 6   TX_TIME_DAYS       9424 non-null   object
 7   TX_FRAUD           9424 non-null   int64
 8   TX_FRAUD_SCENARIO  9424 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 994.3+ KB

In [73]:
df1.describe()

,TRANSACTION_ID,TX_DATETIME,TX_AMOUNT,TX_FRAUD,TX_FRAUD_SCENARIO
count,9.424000e+03,9424,9424.000000,9424.000000,9424.000000
mean,1.692152e+06,2018-09-24 12:01:02.105369088,53.856161,0.009126,0.020374
min,1.687440e+06,2018-09-24 00:00:27,0.000000,0.000000,0.000000
25%,1.689796e+06,2018-09-24 08:25:38.750000128,21.095000,0.000000,0.000000
50%,1.692152e+06,2018-09-24 11:57:44,44.535000,0.000000,0.000000
75%,1.694507e+06,2018-09-24 15:41:12,76.792500,0.000000,0.000000
max,1.696863e+06,2018-09-24 23:59:20,2374.500000,1.000000,3.000000
std,2.720619e+03,NaN,48.926282,0.095096,0.217578

In [74]:
df1.sample(1).T

                               1695277
TRANSACTION_ID                 1695277
TX_DATETIME        2018-09-24 17:10:42
CUSTOMER_ID                       3326
TERMINAL_ID                       5964
TX_AMOUNT                       105.33
TX_TIME_SECONDS               15268242
TX_TIME_DAYS                       176
TX_FRAUD                             0
TX_FRAUD_SCENARIO                    0

In [75]:
from datetime import datetime

In [76]:

import copy as cp

df=df1.copy(deep=True)

# Ensure the column is in datetime format (if not already)
df['TX_DATETIME'] = pd.to_datetime(df1['TX_DATETIME'])

# Create a new 'date' column
df['date'] = df['TX_DATETIME'].dt.date

# Create a new 'time' column
df['time'] = df['TX_DATETIME'].dt.time

# Print the updated DataFrame to verify
print(df[['TX_DATETIME', 'date', 'time']])

                TX_DATETIME        date      time
1687440 2018-09-24 00:00:27  2018-09-24  00:00:27
1687441 2018-09-24 00:01:18  2018-09-24  00:01:18
1687442 2018-09-24 00:01:39  2018-09-24  00:01:39
1687443 2018-09-24 00:02:26  2018-09-24  00:02:26
1687444 2018-09-24 00:04:01  2018-09-24  00:04:01
...                     ...         ...       ...
1696859 2018-09-24 23:55:49  2018-09-24  23:55:49
1696860 2018-09-24 23:57:14  2018-09-24  23:57:14
1696861 2018-09-24 23:57:38  2018-09-24  23:57:38
1696862 2018-09-24 23:58:00  2018-09-24  23:58:00
1696863 2018-09-24 23:59:20  2018-09-24  23:59:20

[9424 rows x 3 columns]

In [77]:
print(df.shape)
print()
df1.shape

(9424, 11)

(9424, 9)

In [78]:
#TO FORMAT DATETIME COLUMN USING STRFTIME

df2=df1.copy(deep=True)

# Ensure the column is in datetime format
df2['TX_DATETIME'] = pd.to_datetime(df1['TX_DATETIME'])

# Create a new 'date_string' column formatted as YYYY-MM-DD
df2['date_string'] = df2['TX_DATETIME'].dt.strftime('%Y-%m-%d')

# Create a new 'time_string' column formatted as HH:MM:SS
df2['time_string'] = df2['TX_DATETIME'].dt.strftime('%H:%M:%S')

# Print the updated DataFrame to verify
print(df2[['TX_DATETIME', 'date_string', 'time_string']])
print()
print(df2.shape)
print()

                TX_DATETIME date_string time_string
1687440 2018-09-24 00:00:27  2018-09-24    00:00:27
1687441 2018-09-24 00:01:18  2018-09-24    00:01:18
1687442 2018-09-24 00:01:39  2018-09-24    00:01:39
1687443 2018-09-24 00:02:26  2018-09-24    00:02:26
1687444 2018-09-24 00:04:01  2018-09-24    00:04:01
...                     ...         ...         ...
1696859 2018-09-24 23:55:49  2018-09-24    23:55:49
1696860 2018-09-24 23:57:14  2018-09-24    23:57:14
1696861 2018-09-24 23:57:38  2018-09-24    23:57:38
1696862 2018-09-24 23:58:00  2018-09-24    23:58:00
1696863 2018-09-24 23:59:20  2018-09-24    23:59:20

[9424 rows x 3 columns]

(9424, 11)

###Combine all 183 pkl files

In [79]:

#import pandas as pd
#import glob
#import os

# Define the directory where your pickle files are stored
# Replace 'path/to/your/pickles' with the actual directory path
pickles_dir = '/content/FD_P2/data'    #'path/to/your/pickles'

# Use glob to find all files ending with .pkl in the specified directory
# This creates a list of file paths to iterate through
pickle_files = glob.glob(os.path.join(pickles_dir, '*.pkl'))

# Check if any files were found
if not pickle_files:
    print(f"No pickle files found in the directory: {pickles_dir}")
else:
    # Initialize an empty list to store individual dataframes
    list_of_dfs = []

    # Iterate over each file path in the list
    for file in pickle_files:
        try:
            # Read the pickle file into a temporary dataframe and append it to the list
            df_temp = pd.read_pickle(file)
            list_of_dfs.append(df_temp)
            print('--------------------------------------------------------')
            print(f"Successfully loaded {file} with {len(df_temp)} records.")
            print('--------------------------------------------------------')
        except Exception as e:
            # Handle potential errors during file reading
            print(f"Error reading file {file}: {e}")

    # Concatenate all dataframes in the list into a single final dataframe
    if list_of_dfs:
        final_dataframe = pd.concat(list_of_dfs, ignore_index=True)

        print("\n--- Summary ---")
        print(f"Total number of files processed: {len(pickle_files)}")
        print(f"Total records in the combined dataframe: {len(final_dataframe)}")
        print("\nCombined dataframe head:")
        print(final_dataframe.head())

        # Optional: Save the combined dataframe to a new pickle file
        # final_dataframe.to_pickle("combined_records.pkl")
        # print("\nCombined dataframe saved to 'combined_records.pkl'")

    else:
        print("No dataframes were successfully loaded. Cannot create a combined dataframe.")

--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-22.pkl with 9440 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-15.pkl with 9448 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-14.pkl with 9521 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-11.pkl with 9427 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-14.pkl with 9557 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-07.pkl with 9525 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-10.pkl with 9688 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-18.pkl with 9616 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-11.pkl with 9590 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-12.pkl with 9625 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-03.pkl with 9747 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-02.pkl with 9670 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-22.pkl with 9628 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-24.pkl with 9553 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-14.pkl with 9564 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-04.pkl with 9637 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-30.pkl with 9535 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-17.pkl with 9581 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-10.pkl with 9523 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-26.pkl with 9728 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-24.pkl with 9496 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-13.pkl with 9488 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-02.pkl with 9583 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-09.pkl with 9590 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-01.pkl with 9692 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-18.pkl with 9635 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-08.pkl with 9459 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-04.pkl with 9575 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-12.pkl with 9537 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-13.pkl with 9753 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-05.pkl with 9547 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-09.pkl with 9458 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-19.pkl with 9595 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-15.pkl with 9523 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-16.pkl with 9423 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-29.pkl with 9423 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-20.pkl with 9700 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-16.pkl with 9525 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-26.pkl with 9659 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-17.pkl with 9516 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-01.pkl with 9578 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-20.pkl with 9699 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-10.pkl with 9502 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-15.pkl with 9478 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-23.pkl with 9654 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-28.pkl with 9588 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-13.pkl with 9495 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-06.pkl with 9660 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-20.pkl with 9616 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-16.pkl with 9701 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-31.pkl with 9422 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-21.pkl with 9645 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-08.pkl with 9622 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-11.pkl with 9536 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-30.pkl with 9445 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-16.pkl with 9767 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-02.pkl with 9737 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-19.pkl with 9663 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-01.pkl with 9488 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-25.pkl with 9591 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-29.pkl with 9532 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-05.pkl with 9651 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-25.pkl with 9617 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-23.pkl with 9744 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-04.pkl with 9621 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-05.pkl with 9502 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-09.pkl with 9511 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-03.pkl with 9527 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-10.pkl with 9672 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-24.pkl with 9607 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-07.pkl with 9578 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-03.pkl with 9620 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-15.pkl with 9434 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-08.pkl with 9468 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-22.pkl with 9747 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-09.pkl with 9699 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-04.pkl with 9530 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-25.pkl with 9532 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-27.pkl with 9565 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-27.pkl with 9459 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-11.pkl with 9622 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-28.pkl with 9591 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-20.pkl with 9569 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-02.pkl with 9658 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-13.pkl with 9605 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-05.pkl with 9784 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-17.pkl with 9610 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-04.pkl with 9491 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-11.pkl with 9494 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-06.pkl with 9552 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-12.pkl with 9588 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-18.pkl with 9516 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-26.pkl with 9512 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-05.pkl with 9527 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-16.pkl with 9619 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-06.pkl with 9539 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-21.pkl with 9579 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-09-22.pkl with 9725 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-03.pkl with 9771 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-17.pkl with 9627 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-04-27.pkl with 9610 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-06-14.pkl with 9680 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-25.pkl with 9541 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-08-23.pkl with 9450 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-05-10.pkl with 9749 records.
--------------------------------------------------------
--------------------------------------------------------
Successfully loaded /content/FD_P2/data/2018-07-04.pkl with 9542 records.
--------------------------------------------------------
--------------------------------------------------------

##EXPLORATORY DATA ANALYSIS

###Descriptive Statistics

In [80]:
final_dataframe.describe(include=['int64','float64'])

       TRANSACTION_ID     TX_AMOUNT      TX_FRAUD  TX_FRAUD_SCENARIO
count    1.754155e+06  1.754155e+06  1.754155e+06       1.754155e+06
mean     8.770770e+05  5.363230e+01  8.369272e-03       1.882388e-02
std      5.063811e+05  4.232649e+01  9.110012e-02       2.113263e-01
min      0.000000e+00  0.000000e+00  0.000000e+00       0.000000e+00
25%      4.385385e+05  2.101000e+01  0.000000e+00       0.000000e+00
50%      8.770770e+05  4.464000e+01  0.000000e+00       0.000000e+00
75%      1.315616e+06  7.695000e+01  0.000000e+00       0.000000e+00
max      1.754154e+06  2.628000e+03  1.000000e+00       3.000000e+00

In [81]:
final_dataframe.describe(include=['object'])

        CUSTOMER_ID  TERMINAL_ID  TX_TIME_SECONDS  TX_TIME_DAYS
count       1754155      1754155          1754155       1754155
unique         4990        10000          1635076           183
top             382         4018          7992619            90
freq            767          376                6          9789

In [82]:
final_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754155 entries, 0 to 1754154
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   TRANSACTION_ID     int64
 1   TX_DATETIME        datetime64[ns]
 2   CUSTOMER_ID        object
 3   TERMINAL_ID        object
 4   TX_AMOUNT          float64
 5   TX_TIME_SECONDS    object
 6   TX_TIME_DAYS       object
 7   TX_FRAUD           int64
 8   TX_FRAUD_SCENARIO  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 120.4+ MB

In [83]:
final_dataframe.to_csv('Fin_Fraud_Detect.csv')

###Null Values in each column of the dataframe

In [84]:
final_dataframe.isnull().sum()

TRANSACTION_ID       0
TX_DATETIME          0
CUSTOMER_ID          0
TERMINAL_ID          0
TX_AMOUNT            0
TX_TIME_SECONDS      0
TX_TIME_DAYS         0
TX_FRAUD             0
TX_FRAUD_SCENARIO    0
dtype: int64

###Duplicated records in the DataFrame

In [85]:
final_dataframe.duplicated().sum()

np.int64(0)

In [86]:
final_dataframe['TX_FRAUD'].value_counts()

TX_FRAUD
0    1739474
1      14681
Name: count, dtype: int64

In [87]:
final_dataframe['TX_FRAUD_SCENARIO'].value_counts()

TX_FRAUD_SCENARIO
0    1739474
2       9077
3       4631
1        973
Name: count, dtype: int64

In [88]:
final_dataframe['TX_FRAUD_SCENARIO'].value_counts().sort_index()

TX_FRAUD_SCENARIO
0    1739474
1        973
2       9077
3       4631
Name: count, dtype: int64

In [89]:
9077+4631+973

14681

In [90]:
final_dataframe['TX_AMOUNT'].describe()

count    1.754155e+06
mean     5.363230e+01
std      4.232649e+01
min      0.000000e+00
25%      2.101000e+01
50%      4.464000e+01
75%      7.695000e+01
max      2.628000e+03
Name: TX_AMOUNT, dtype: float64

In [91]:
final_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754155 entries, 0 to 1754154
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   TRANSACTION_ID     int64
 1   TX_DATETIME        datetime64[ns]
 2   CUSTOMER_ID        object
 3   TERMINAL_ID        object
 4   TX_AMOUNT          float64
 5   TX_TIME_SECONDS    object
 6   TX_TIME_DAYS       object
 7   TX_FRAUD           int64
 8   TX_FRAUD_SCENARIO  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 120.4+ MB

#SCENARIO - 1

#### Any Transaction whose amount is more than 220 is fraud, This is not inspired by a real-world scenario. It provides an obvious fraud pattern that should be detected by any baseline fraud detector. This will be useful to validate the implementation of a fraud detection technique.

In [94]:

final_dataframe1 = final_dataframe.copy(deep=True)

final_dataframe1["TX_DATETIME"] = pd.to_datetime(final_dataframe1["TX_DATETIME"])
final_dataframe1["hour"] = final_dataframe1["TX_DATETIME"].dt.hour
final_dataframe1["weekday"] = final_dataframe1["TX_DATETIME"].dt.weekday
final_dataframe1["day"] = final_dataframe1["TX_DATETIME"].dt.day

final_dataframe1 = final_dataframe1.drop(columns=["TX_DATETIME"])

In [101]:
final_dataframe1[['hour','day','weekday']]

         hour  day  weekday
0           0   22        6
1           0   22        6
2           0   22        6
3           0   22        6
4           0   22        6
...       ...  ...      ...
1754150    23   12        6
1754151    23   12        6
1754152    23   12        6
1754153    23   12        6
1754154    23   12        6

[1754155 rows x 3 columns]

In [95]:

X = final_dataframe.drop(columns=["TX_FRAUD", "TX_FRAUD_SCENARIO"])
y_binary = final_dataframe["TX_FRAUD"]
y_multi = final_dataframe["TX_FRAUD_SCENARIO"]

In [96]:
X.shape

(1754155, 7)

In [97]:

from sklearn.preprocessing import LabelEncoder

for col in ["CUSTOMER_ID", "TERMINAL_ID"]:
    df[col] = LabelEncoder().fit_transform(df[col])

In [99]:
X.dtypes

TRANSACTION_ID              int64
TX_DATETIME        datetime64[ns]
CUSTOMER_ID                object
TERMINAL_ID                object
TX_AMOUNT                 float64
TX_TIME_SECONDS            object
TX_TIME_DAYS               object
dtype: object

In [98]:

from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X, y_binary)

TypeError: float() argument must be a string or a real number, not 'Timestamp'

#SCENARIO - 2

#### Every Day, A list of two terminals is drawn at random. All Transactions on these terminals in the next 28 days will be marked as fraudulent. This scenario simulates a criminal use of a terminal, through phishing for example. You could add features that keep track of the number of fraudulent transactions on the terminal to help with this scenario.

# SCENARIO - 3

####Every Day a list of 3 customers is drawn at random. In the next 14 Days, 1/3 of their transactions have their amounts multiplied by 5 and marked as fraudulent. This scenario simulates a card-not-present fraud where the Credentials of a customer have been leaked. The customer continues to make transactions, and transactions of higher values are made by the fraudsters whivtries to maximize their gains. You could add features that keep track of the spending habits of the customer for this scenario

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)   # for reproducibility

# ---- Example DataFrame (replace with your real df) ----
df = pd.DataFrame({
    "cust_id": np.random.randint(1, 100, 1000),
    "amount": np.random.randint(100, 1000, 1000),
    "f2": np.random.randn(1000),
    "f3": np.random.randn(1000),
    "f4": np.random.randn(1000),
    "f5": np.random.randn(1000),
    "f6": np.random.randn(1000),
})

# Add date column (if you already have one, remove this)
df["txn_date"] = pd.Timestamp.today().normalize()

# Add fraud flag column
df["fraud_flag"] = 0

# ------------------------------------------------------
# STEP 1: Select 3 random customers
# ------------------------------------------------------
selected_customers = np.random.choice(df["cust_id"].unique(), size=3, replace=False)
print("Selected Customers:", selected_customers)

df_sub = df[df["cust_id"].isin(selected_customers)]

# ------------------------------------------------------
# STEP 2: Select 1/3rd of their records
# ------------------------------------------------------
n = int(len(df_sub) / 3)
fraud_idx = np.random.choice(df_sub.index, size=n, replace=False)

# ------------------------------------------------------
# STEP 3: Assign random dates in next 14 days
# ------------------------------------------------------
start_date = pd.Timestamp.today().normalize()
random_days = np.random.randint(1, 15, size=n)
df.loc[fraud_idx, "txn_date"] = start_date + pd.to_timedelta(random_days, unit="D")

# ------------------------------------------------------
# STEP 4: Multiply amount by 5
# ------------------------------------------------------
df.loc[fraud_idx, "amount"] *= 5

# ------------------------------------------------------
# STEP 5: Mark as Fraud
# ------------------------------------------------------
df.loc[fraud_idx, "fraud_flag"] = 1

# ------------------------------------------------------
# RESULTS
# ------------------------------------------------------
print("\nTotal Fraud Records:", df["fraud_flag"].sum())
print("\nSample Fraud Records:")
print(df[df["fraud_flag"] == 1].head())

Selected Customers: [59 62 88]

Total Fraud Records: 12

Sample Fraud Records:
     cust_id  amount        f2        f3        f4        f5        f6  \
30        59    1640  1.183414 -1.592601 -1.076497 -0.411855 -1.363356
39        62    4730 -0.274032 -1.382867  0.197326 -0.832361 -1.239555
112       88    1975  0.268217 -0.343411  0.538133 -0.012644  0.126514
184       62    4665  0.302399  0.301044  0.527537 -0.950862  1.062357
188       62    4705 -0.364202  0.449609 -1.044574 -0.544364 -0.815711

      txn_date  fraud_flag
30  2026-02-25           1
39  2026-02-25           1
112 2026-02-20           1
184 2026-02-14           1
188 2026-02-13           1