<a href="https://colab.research.google.com/github/M339KUMAR/ColabDemoFiles/blob/main/UMMLP2/UM_MLIntern_P2(15%20Jan%2026).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Fraud Detection in Financial Transaction

###Import Lib's

In [ ]:
import os
#import zipfile
from zipfile import ZipFile

In [ ]:
print(os.getcwd())

/content

In [ ]:
input_path='/content/sample_data/dataset.zip'
output_path='/content/FD_P2'

In [ ]:
with zipfile.ZipFile(input_path, 'r') as zf:
     zf.extractall(output_path)
     print('File Extraction Successful')

File Extraction Successful

In [21]:

import os

def count_files_os(folder_path):
    """Counts the number of files in a given folder using os.listdir."""

    count = 0

    # List all entries in the directory
    for file in os.listdir(folder_path):

        # Construct the full path
        full_path = os.path.join(folder_path, file)

        # Check if the entry is a file (and not a sub-directory or symlink)
        if os.path.isfile(full_path):
            count += 1

    return count

# Example Usage:
# Replace 'your/folder/path' with the actual path to your folder
folder_to_check = '/content/FD_P2/data'

file_count = count_files_os(folder_to_check)
#print(f"Total files count ::'{folder_to_check}': {file_count}")
print(f"Total files count ::: {file_count}")

Total files count ::: 183

In [ ]:

import glob
import os

# Define the directory path
directory_path = '.'  # Current directory

# Pattern to match all files and directories
# '*' matches everything directly in the specified path
pattern = os.path.join(directory_path, '*')

# Use glob.glob() to get the list of files
file_list = glob.glob(pattern)

print("Files in directory:")
for file in file_list:
    print(file)

Files in directory:
./FD_P2
./sample_data

In [ ]:

directory_path1='/content/FD_P2/data'
pattern1=os.path.join(directory_path1, '*')
ListofFiles=glob.glob(pattern1)

print("Files in directory:")
for file in ListofFiles:
    print(file)

Files in directory:
/content/FD_P2/data/2018-09-24.pkl
/content/FD_P2/data/2018-09-15.pkl
/content/FD_P2/data/2018-04-20.pkl
/content/FD_P2/data/2018-08-23.pkl
/content/FD_P2/data/2018-05-18.pkl
/content/FD_P2/data/2018-06-28.pkl
/content/FD_P2/data/2018-07-02.pkl
/content/FD_P2/data/2018-05-19.pkl
/content/FD_P2/data/2018-04-07.pkl
/content/FD_P2/data/2018-04-01.pkl
/content/FD_P2/data/2018-09-29.pkl
/content/FD_P2/data/2018-08-01.pkl
/content/FD_P2/data/2018-07-21.pkl
/content/FD_P2/data/2018-07-09.pkl
/content/FD_P2/data/2018-04-30.pkl
/content/FD_P2/data/2018-08-15.pkl
/content/FD_P2/data/2018-06-10.pkl
/content/FD_P2/data/2018-07-30.pkl
/content/FD_P2/data/2018-09-10.pkl
/content/FD_P2/data/2018-06-30.pkl
/content/FD_P2/data/2018-06-25.pkl
/content/FD_P2/data/2018-07-13.pkl
/content/FD_P2/data/2018-05-22.pkl
/content/FD_P2/data/2018-06-02.pkl
/content/FD_P2/data/2018-05-01.pkl
/content/FD_P2/data/2018-06-01.pkl
/content/FD_P2/data/2018-05-13.pkl
/content/FD_P2/data/2018-04-27.pkl
/content/FD_P2/data/2018-07-31.pkl
/content/FD_P2/data/2018-05-11.pkl
/content/FD_P2/data/2018-06-14.pkl
/content/FD_P2/data/2018-07-18.pkl
/content/FD_P2/data/2018-08-12.pkl
/content/FD_P2/data/2018-04-21.pkl
/content/FD_P2/data/2018-07-07.pkl
/content/FD_P2/data/2018-05-03.pkl
/content/FD_P2/data/2018-06-07.pkl
/content/FD_P2/data/2018-04-04.pkl
/content/FD_P2/data/2018-07-20.pkl
/content/FD_P2/data/2018-05-09.pkl
/content/FD_P2/data/2018-09-05.pkl
/content/FD_P2/data/2018-06-26.pkl
/content/FD_P2/data/2018-09-21.pkl
/content/FD_P2/data/2018-04-11.pkl
/content/FD_P2/data/2018-06-11.pkl
/content/FD_P2/data/2018-06-04.pkl
/content/FD_P2/data/2018-04-22.pkl
/content/FD_P2/data/2018-09-04.pkl
/content/FD_P2/data/2018-05-08.pkl
/content/FD_P2/data/2018-04-25.pkl
/content/FD_P2/data/2018-08-06.pkl
/content/FD_P2/data/2018-08-14.pkl
/content/FD_P2/data/2018-04-19.pkl
/content/FD_P2/data/2018-08-11.pkl
/content/FD_P2/data/2018-05-16.pkl
/content/FD_P2/data/2018-08-25.pkl
/content/FD_P2/data/2018-07-22.pkl
/content/FD_P2/data/2018-05-26.pkl
/content/FD_P2/data/2018-05-15.pkl
/content/FD_P2/data/2018-05-10.pkl
/content/FD_P2/data/2018-05-04.pkl
/content/FD_P2/data/2018-09-18.pkl
/content/FD_P2/data/2018-09-14.pkl
/content/FD_P2/data/2018-07-19.pkl
/content/FD_P2/data/2018-09-26.pkl
/content/FD_P2/data/2018-04-12.pkl
/content/FD_P2/data/2018-08-13.pkl
/content/FD_P2/data/2018-07-17.pkl
/content/FD_P2/data/2018-09-12.pkl
/content/FD_P2/data/2018-09-28.pkl
/content/FD_P2/data/2018-04-15.pkl
/content/FD_P2/data/2018-04-18.pkl
/content/FD_P2/data/2018-06-05.pkl
/content/FD_P2/data/2018-07-04.pkl
/content/FD_P2/data/2018-06-13.pkl
/content/FD_P2/data/2018-05-23.pkl
/content/FD_P2/data/2018-05-21.pkl
/content/FD_P2/data/2018-04-24.pkl
/content/FD_P2/data/2018-07-29.pkl
/content/FD_P2/data/2018-05-02.pkl
/content/FD_P2/data/2018-06-23.pkl
/content/FD_P2/data/2018-08-04.pkl
/content/FD_P2/data/2018-08-28.pkl
/content/FD_P2/data/2018-07-28.pkl
/content/FD_P2/data/2018-09-25.pkl
/content/FD_P2/data/2018-08-16.pkl
/content/FD_P2/data/2018-08-05.pkl
/content/FD_P2/data/2018-08-26.pkl
/content/FD_P2/data/2018-07-03.pkl
/content/FD_P2/data/2018-06-09.pkl
/content/FD_P2/data/2018-09-07.pkl
/content/FD_P2/data/2018-05-17.pkl
/content/FD_P2/data/2018-07-14.pkl
/content/FD_P2/data/2018-06-17.pkl
/content/FD_P2/data/2018-08-22.pkl
/content/FD_P2/data/2018-08-02.pkl
/content/FD_P2/data/2018-07-23.pkl
/content/FD_P2/data/2018-04-09.pkl
/content/FD_P2/data/2018-08-31.pkl
/content/FD_P2/data/2018-05-25.pkl
/content/FD_P2/data/2018-07-01.pkl
/content/FD_P2/data/2018-07-16.pkl
/content/FD_P2/data/2018-07-24.pkl
/content/FD_P2/data/2018-08-21.pkl
/content/FD_P2/data/2018-05-12.pkl
/content/FD_P2/data/2018-07-26.pkl
/content/FD_P2/data/2018-07-25.pkl
/content/FD_P2/data/2018-05-29.pkl
/content/FD_P2/data/2018-07-10.pkl
/content/FD_P2/data/2018-09-17.pkl
/content/FD_P2/data/2018-09-11.pkl
/content/FD_P2/data/2018-05-14.pkl
/content/FD_P2/data/2018-09-22.pkl
/content/FD_P2/data/2018-05-27.pkl
/content/FD_P2/data/2018-09-30.pkl
/content/FD_P2/data/2018-08-08.pkl
/content/FD_P2/data/2018-09-20.pkl
/content/FD_P2/data/2018-07-12.pkl
/content/FD_P2/data/2018-06-20.pkl
/content/FD_P2/data/2018-09-13.pkl
/content/FD_P2/data/2018-06-15.pkl
/content/FD_P2/data/2018-05-30.pkl
/content/FD_P2/data/2018-04-23.pkl
/content/FD_P2/data/2018-06-27.pkl
/content/FD_P2/data/2018-09-08.pkl
/content/FD_P2/data/2018-09-23.pkl
/content/FD_P2/data/2018-06-06.pkl
/content/FD_P2/data/2018-04-05.pkl
/content/FD_P2/data/2018-04-17.pkl
/content/FD_P2/data/2018-04-28.pkl
/content/FD_P2/data/2018-05-20.pkl
/content/FD_P2/data/2018-05-07.pkl
/content/FD_P2/data/2018-04-16.pkl
/content/FD_P2/data/2018-06-08.pkl
/content/FD_P2/data/2018-06-12.pkl
/content/FD_P2/data/2018-05-24.pkl
/content/FD_P2/data/2018-06-03.pkl
/content/FD_P2/data/2018-05-05.pkl
/content/FD_P2/data/2018-04-03.pkl
/content/FD_P2/data/2018-08-24.pkl
/content/FD_P2/data/2018-04-14.pkl
/content/FD_P2/data/2018-04-13.pkl
/content/FD_P2/data/2018-09-19.pkl
/content/FD_P2/data/2018-06-24.pkl
/content/FD_P2/data/2018-09-27.pkl
/content/FD_P2/data/2018-09-16.pkl
/content/FD_P2/data/2018-07-11.pkl
/content/FD_P2/data/2018-09-09.pkl
/content/FD_P2/data/2018-06-29.pkl
/content/FD_P2/data/2018-08-09.pkl
/content/FD_P2/data/2018-06-18.pkl
/content/FD_P2/data/2018-08-10.pkl
/content/FD_P2/data/2018-07-08.pkl
/content/FD_P2/data/2018-06-19.pkl
/content/FD_P2/data/2018-05-31.pkl
/content/FD_P2/data/2018-04-08.pkl
/content/FD_P2/data/2018-05-06.pkl
/content/FD_P2/data/2018-05-28.pkl
/content/FD_P2/data/2018-09-01.pkl
/content/FD_P2/data/2018-06-21.pkl
/content/FD_P2/data/2018-04-26.pkl
/content/FD_P2/data/2018-08-20.pkl
/content/FD_P2/data/2018-08-29.pkl
/content/FD_P2/data/2018-07-27.pkl
/content/FD_P2/data/2018-08-19.pkl
/content/FD_P2/data/2018-06-16.pkl
/content/FD_P2/data/2018-04-06.pkl
/content/FD_P2/data/2018-08-30.pkl
/content/FD_P2/data/2018-07-06.pkl
/content/FD_P2/data/2018-08-18.pkl
/content/FD_P2/data/2018-09-03.pkl
/content/FD_P2/data/2018-04-10.pkl
/content/FD_P2/data/2018-08-03.pkl
/content/FD_P2/data/2018-08-07.pkl
/content/FD_P2/data/2018-07-15.pkl
/content/FD_P2/data/2018-04-29.pkl
/content/FD_P2/data/2018-07-05.pkl
/content/FD_P2/data/2018-09-06.pkl
/content/FD_P2/data/2018-06-22.pkl
/content/FD_P2/data/2018-08-27.pkl
/content/FD_P2/data/2018-04-02.pkl
/content/FD_P2/data/2018-09-02.pkl
/content/FD_P2/data/2018-08-17.pkl

###Reading a Pickle a file

In [23]:
import pandas as pd
df1=pd.read_pickle('/content/FD_P2/data/2018-09-24.pkl')
df1

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
1687440,1687440,2018-09-24 00:00:27,2524,9558,13.39,15206427,176,0,0
1687441,1687441,2018-09-24 00:01:18,1011,7930,27.35,15206478,176,0,0
1687442,1687442,2018-09-24 00:01:39,872,9471,93.36,15206499,176,0,0
1687443,1687443,2018-09-24 00:02:26,3578,8682,158.79,15206546,176,0,0
1687444,1687444,2018-09-24 00:04:01,942,3757,118.22,15206641,176,0,0
...,...,...,...,...,...,...,...,...,...
1696859,1696859,2018-09-24 23:55:49,2760,6578,33.98,15292549,176,0,0
1696860,1696860,2018-09-24 23:57:14,2611,2338,25.70,15292634,176,1,2
1696861,1696861,2018-09-24 23:57:38,2932,474,102.40,15292658,176,0,0
1696862,1696862,2018-09-24 23:58:00,3610,4147,10.02,15292680,176,0,0
1696863,1696863,2018-09-24 23:59:20,985,7381,2.12,15292760,176,0,0

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9424 entries, 1687440 to 1696863
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TRANSACTION_ID     9424 non-null   int64
 1   TX_DATETIME        9424 non-null   datetime64[ns]
 2   CUSTOMER_ID        9424 non-null   object
 3   TERMINAL_ID        9424 non-null   object
 4   TX_AMOUNT          9424 non-null   float64
 5   TX_TIME_SECONDS    9424 non-null   object
 6   TX_TIME_DAYS       9424 non-null   object
 7   TX_FRAUD           9424 non-null   int64
 8   TX_FRAUD_SCENARIO  9424 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 994.3+ KB

In [25]:
df1.describe()

,TRANSACTION_ID,TX_DATETIME,TX_AMOUNT,TX_FRAUD,TX_FRAUD_SCENARIO
count,9.424000e+03,9424,9424.000000,9424.000000,9424.000000
mean,1.692152e+06,2018-09-24 12:01:02.105369088,53.856161,0.009126,0.020374
min,1.687440e+06,2018-09-24 00:00:27,0.000000,0.000000,0.000000
25%,1.689796e+06,2018-09-24 08:25:38.750000128,21.095000,0.000000,0.000000
50%,1.692152e+06,2018-09-24 11:57:44,44.535000,0.000000,0.000000
75%,1.694507e+06,2018-09-24 15:41:12,76.792500,0.000000,0.000000
max,1.696863e+06,2018-09-24 23:59:20,2374.500000,1.000000,3.000000
std,2.720619e+03,NaN,48.926282,0.095096,0.217578

In [26]:
df1.sample(1).T

                               1687878
TRANSACTION_ID                 1687878
TX_DATETIME        2018-09-24 03:19:34
CUSTOMER_ID                       3627
TERMINAL_ID                       4202
TX_AMOUNT                        28.17
TX_TIME_SECONDS               15218374
TX_TIME_DAYS                       176
TX_FRAUD                             0
TX_FRAUD_SCENARIO                    0

In [28]:
from datetime import datetime

In [31]:

import copy as cp

df=df1.copy(deep=True)

# Ensure the column is in datetime format (if not already)
df['TX_DATETIME'] = pd.to_datetime(df['TX_DATETIME'])

# Create a new 'date' column
df['date'] = df['TX_DATETIME'].dt.date

# Create a new 'time' column
df['time'] = df['TX_DATETIME'].dt.time

# Print the updated DataFrame to verify
print(df[['TX_DATETIME', 'date', 'time']])

                TX_DATETIME        date      time
1687440 2018-09-24 00:00:27  2018-09-24  00:00:27
1687441 2018-09-24 00:01:18  2018-09-24  00:01:18
1687442 2018-09-24 00:01:39  2018-09-24  00:01:39
1687443 2018-09-24 00:02:26  2018-09-24  00:02:26
1687444 2018-09-24 00:04:01  2018-09-24  00:04:01
...                     ...         ...       ...
1696859 2018-09-24 23:55:49  2018-09-24  23:55:49
1696860 2018-09-24 23:57:14  2018-09-24  23:57:14
1696861 2018-09-24 23:57:38  2018-09-24  23:57:38
1696862 2018-09-24 23:58:00  2018-09-24  23:58:00
1696863 2018-09-24 23:59:20  2018-09-24  23:59:20

[9424 rows x 3 columns]

In [34]:
print(df.shape)
print()
df1.shape

(9424, 11)

(9424, 9)